<div class="center hero-unit">

  <h1>Welcome to Homework Portal</h1>
  <p>Did you forget to bring your Homework? Never to fear, your Homework is here! </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>